@use 'util' as u;

:root {
  //colors

  --c-white-bg: #fffbf8;
  --c-white-text: #fffeff;
  --c-darkblue-text: #233042;
  --c-gray-text: #cccbcd;
  --c-lightgray-text: #fcfbf7;
  --c-green-text: #559a8b;
  --c-lightgreen-bg: #98d8ca;
  --c-yellow-border: #fef0b7;
  --c-pink-border: #ffdad2;
  --c-yellow-button: #fed501;

  //fonts
  --f-xl: #{clamp(
      u.rem(32),
      1.6038732394366197rem + 1.6901408450704223vw,
      u.rem(50)
    )};

  --f-l: #{clamp(
      u.rem(28),
      1.573943661971831rem + 0.7511737089201878vw,
      u.rem(36)
    )};

  --f-m: #{clamp(
      u.rem(20),
      1.5880281690140845rem + -0.3755868544600939vw,
      u.rem(24)
    )};

  --f-s: u.rem(11);
  --f-body: u.rem(18);
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Barlow', sans-serif;
  font-size: var(--f-body);
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: 'Fraunces', serif;
  line-height: 1.1;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

h1 {
  font-size: var(--f-xl);
  font-weight: 900;
  text-transform: uppercase;
  color: var(--c-white-text);
}

h2 {
  font-size: var(--f-l);
  font-weight: 700;
  color: var(--c-darkblue-text);
}

h3 {
  font-size: var(--f-m);
  font-weight: 700;
  color: var(--c-green-text);
}

p {
  color: var(--c-gray-text);
}

a {
  text-decoration: none;
}

img {
  display: block;
  // width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  background-color: lightcyan;
}
