@use '../util' as u;

.header {
  background-image: url(../images/desktop/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__links {
    gap: u.rem(50);
    padding-block: u.rem(35) u.rem(90);
    padding-inline: u.rem(20);

    @media (width >= u.em(1110)) {
      flex-direction: row;
      padding-block: u.rem(50) u.rem(90);
      padding-inline: u.rem(40);
    }
  }

  &__logo {
    width: u.rem(125);

    @media (width >= u.em(1110)) {
      width: u.rem(180);
    }
  }

  &__btn {
    background-color: var(--c-yellow-button);
    color: var(--c-darkblue-text);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: var(16);
    line-height: 1.3;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: background 200ms ease-in-out;

    padding-block: u.rem(15);
    padding-inline: u.rem(25);
    border-radius: u.rem(35);

    @media (width >= u.em(1110)) {
      background-color: var(--c-white-text);
      font-size: var(--f-body);
      padding-block: u.rem(20);
      padding-inline: u.rem(30);

      &:hover {
        color: #fffeff;
        background-color: rgba(255, 254, 255, 0.3);
      }
    }
  }

  &__headline {
    flex-direction: column;
    gap: u.rem(50);
    padding-block-end: clamp(
      7.5rem,
      2.438380281690141rem + 21.5962441314554vw,
      21.875rem
    );
    letter-spacing: u.em(7);
    text-align: center;
    & svg {
      @media (width >= u.em(1110)) {
        margin-block-start: u.rem(40);
      }
    }
  }
}
