@use '../util' as u;

.feature {
  @media (width >= u.em(1110)) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
  }

  &__transform {
    @media (width >= u.em(1110)) {
      display: grid;
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
    }
  }

  &__picture-transform {
    grid-column: 2 / 3;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 70px;
    padding-inline: 30px;

    @media (width >= u.em(1110)) {
      align-items: start;
      padding-inline: u.rem(100);
    }

    & h2 {
      @media (width < u.em(1110)) {
        text-align: center;
      }
    }
    & p {
      padding-block: u.rem(40);
      @media (width < u.em(1110)) {
        text-align: center;
      }
    }
  }

  &__link {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: var(--c-darkblue-text);
    text-transform: uppercase;
    letter-spacing: 0.125em;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      width: 106%;
      border-bottom: 8px solid (var(--c-yellow-border));
      border-radius: 5px;
      z-index: -2;
    }
    @media (width >= u.em(1110)) {
      &:hover::after {
        border-bottom: 8px solid #f8d30e;
      }
    }
  }

  &__stand {
    @media (width >= u.em(1110)) {
      display: grid;
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
    }
  }

  &__picture-stand {
    grid-column: 1 / 2;
  }

  .stand-btn:after {
    border-bottom: 8px solid (var(--c-pink-border));
  }
  @media (width >= u.em(1110)) {
    .stand-btn:hover::after {
      border-bottom: 8px solid #fc776b;
    }
  }
}

.design {
  background-image: url(../images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: u.rem(600);

  &__description {
    flex-direction: column;
    justify-content: end;
    height: 100%;
    padding-block-end: u.rem(60);
  }

  &__description p {
    color: var(--c-green-text);
    font-size: u.rem(16);
    font-weight: 400;
    text-align: center;
    padding-inline: u.rem(30);

    @media (width >= u.em(1110)) {
      padding-inline: u.rem(115);
    }
  }
  &__heading {
    margin-block-end: u.rem(30);
  }
}

.photography {
  background-image: url(../images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: u.rem(600);

  &__description {
    flex-direction: column;
    justify-content: end;
    height: 100%;
    padding-block-end: u.rem(60);
  }

  &__description p {
    color: var(--c-blue-text);
    font-size: u.rem(16);
    font-weight: 400;
    text-align: center;
    padding-inline: u.rem(30);

    @media (width >= u.em(1110)) {
      padding-inline: u.rem(115);
    }
  }

  &__heading {
    color: var(--c-blue-text);
    margin-block-end: u.rem(30);
  }
}

.testimonials {
  padding-block: u.rem(80);
  padding-inline: u.rem(30);

  @media (width >= u.em(1110)) {
    padding: u.rem(150);
  }
  &__title {
    font-family: 'Fraunces', serif;
    color: var(--c-lightgray-text);
    text-transform: uppercase;
    letter-spacing: u.em(5);
    text-align: center;
    padding-block-end: u.rem(50);
    font-size: u.rem(16);

    @media (width >= u.em(1110)) {
      font-size: var(--f-body);
    }
  }

  &__clients {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: u.rem(60);
    @media (width >= u.em(1110)) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto auto;
    }
  }
}

.testimonial {
  &__MD,
  &__COO,
  &__BO {
    gap: u.rem(50);
    @media (width >= u.em(1110)) {
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
      grid-row: 1 / -1;
    }
  }

  &__image {
    width: u.rem(70);
    height: u.rem(70);
    border-radius: 50%;
    @media (width >= u.em(1110)) {
      width: u.rem(144);
      height: u.rem(144);
    }
  }

  &__description {
    text-align: center;
  }

  &__sign {
    text-align: center;
  }

  &__name {
    font-family: 'Fraunces', serif;
    color: var(--c-darkblue-text);
    margin-block-end: u.rem(20);
  }

  &__position {
    font-size: u.rem(16);
    color: var(--c-lightgray-text);
    font-weight: 600;
    text-transform: capitalize;
  }
}
